# Virtual environment
**/.venv

# Environment variables
**/.env

# VIm swap files
**/*.swp

# Vim plugins config
**/.vim

# Python compiled files
**/*.pyc

# Caches and logs
**/.pytest_cache
**/__pycache__
**/.mypy_cache
**.dataset_cache
**/checkpoints
**/lightning_logs
**/.ipynb_checkpoints

# Build artifacts
**/build
**/dist
**/*egg-info

# Jupyter notebooks for testing
**/*.ipynb
**/ipynb_checkpoints
