# Virtual environment
**/.venv/*

# VIm swap files
**/*.swp

# Python compiled files
**/*.pyc

# Caches and logs
**/.pytest_cache/*
**/__pycache__/*
**/.mypy_cache/*
**.cache.h5
**/checkpoints/*
**/lightning_logs/*
