# Virtual environment
**/.venv

# VIm swap files
**/*.swp

# Vim plugins config
**/.vim

# Python compiled files
**/*.pyc

# Caches and logs
**/.pytest_cache
**/__pycache__
**/.mypy_cache
**.dataset_cache
**/checkpoints
**/lightning_logs
**/.ipynb_checkpoints

# Test notebook
test.ipynb
