alabaster==0.7.12
anyio==2.2.0
apipkg==1.5
appnope==0.1.2
argon2-cffi==20.1.0
astroid==2.5.2
async-generator==1.10
attrs==20.3.0
Babel==2.9.1
backcall==0.2.0
bleach==3.3.0
certifi==2022.12.7
cffi==1.14.5
chardet==4.0.0
colorama==0.4.4
cryptography==41.0.2
decorator==5.0.6
defusedxml==0.7.1
docutils==0.16
entrypoints==0.3
et-xmlfile==1.0.1
execnet==1.8.0
flake8==3.9.0
idna==2.10
imagesize==1.2.0
importlib-metadata==3.10.0
iniconfig==1.1.1
ipykernel==5.5.3
ipython==8.10.0
ipython-genutils==0.2.0
isort==5.8.0
jedi==0.18.0
jeepney==0.6.0
Jinja2==2.11.3
joblib==1.2.0
json5==0.9.5
jsonschema==3.2.0
jupyter-client==6.1.12
jupyter-core==4.11.2
jupyter-packaging==0.7.12
jupyter-server==1.15.4
jupyterlab==3.0.17
jupyterlab-pygments==0.1.2
jupyterlab-server==2.4.0
keyring==23.0.1
lazy-object-proxy==1.6.0
MarkupSafe==1.1.1
mccabe==0.6.1
mistune==2.0.3
nbclassic==0.2.7
nbclient==0.5.3
nbconvert==6.5.1
nbformat==5.1.3
nest-asyncio==1.5.1
notebook==6.4.12
numexpr==2.7.3
numpy==1.22.0
openpyxl==3.0.7
packaging==20.9
pandas==1.2.3
pandocfilters==1.4.3
parso==0.8.2
patsy==0.5.1
pexpect==4.8.0
pickleshare==0.7.5
pkginfo==1.7.0
pluggy==0.13.1
prometheus-client==0.10.1
prompt-toolkit==3.0.18
ptyprocess==0.7.0
py==1.10.0
pycodestyle==2.7.0
pycparser==2.20
pyflakes==2.3.1
Pygments==2.8.1
pylint==2.7.4
pyparsing==2.4.7
pyrsistent==0.17.3
pytest==6.2.4
pytest-flake8==1.0.7
pytest-forked==1.3.0
pytest-xdist==2.3.0
python-dateutil==2.8.1
pytz==2021.1
PyYAML==5.4.1
pyzmq==22.0.3
readme-renderer==29.0
requests==2.31.0
requests-toolbelt==0.9.1
rfc3986==1.4.0
scikit-learn==0.24.1
scipy==1.6.2
SecretStorage==3.3.1
Send2Trash==1.5.0
six==1.15.0
sklearn==0.0
sniffio==1.2.0
snowballstemmer==2.1.0
Sphinx==4.1.1
sphinx-rtd-theme==0.5.2
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
statsmodels==0.12.2
tables==3.6.1
terminado==0.9.4
testpath==0.4.4
threadpoolctl==2.1.0
toml==0.10.2
tornado==6.3.3
tqdm==4.59.0
traitlets==5.0.5
twine==3.4.1
urllib3==1.26.5
wcwidth==0.2.5
webencodings==0.5.1
wrapt==1.12.1
xlrd==2.0.1
zipp==3.4.1
