astroid==2.5.2
attrs==20.3.0
certifi==2020.12.5
chardet==4.0.0
et-xmlfile==1.0.1
flake8==3.9.0
idna==2.10
iniconfig==1.1.1
isort==5.8.0
jedi==0.18.0
joblib==1.0.1
lazy-object-proxy==1.6.0
mccabe==0.6.1
numexpr==2.7.3
numpy==1.20.2
openpyxl==3.0.7
packaging==20.9
pandas==1.2.3
parso==0.8.2
patsy==0.5.1
pluggy==0.13.1
py==1.10.0
pycodestyle==2.7.0
pyflakes==2.3.1
pylint==2.7.4
pyparsing==2.4.7
pytest==6.2.2
pytest-flake8==1.0.7
python-dateutil==2.8.1
pytz==2021.1
PyYAML==5.4.1
requests==2.25.1
scikit-learn==0.24.1
scipy==1.6.2
six==1.15.0
sklearn==0.0
statsmodels==0.12.2
tables==3.6.1
threadpoolctl==2.1.0
toml==0.10.2
urllib3==1.26.4
wrapt==1.12.1
