attrs==19.3.0
future==0.18.2
joblib==0.15.1
more-itertools==8.3.0
numpy==1.18.5
packaging==20.4
pandas==1.0.4
patsy==0.5.1
pkg-resources==0.0.0
pluggy==0.13.1
py==1.8.1
pyparsing==2.4.7
pytest==5.4.3
python-dateutil==2.8.1
pytz==2020.1
scikit-learn==0.23.1
scipy==1.4.1
six==1.15.0
statsmodels==0.11.1
threadpoolctl==2.1.0
torch==1.5.0
wcwidth==0.2.4
